@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 920px) {
  .app {
    flex-direction: column-reverse;
  }
}
