.chat-container {
  width: 45vw;
  height: 100vh;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.header-chat {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff7f3;
  z-index: 2;
}

.header-logo {
  height: 5vh;
  width: auto;
  margin: 20px;
}

.header-chat-text {
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: "Lato";
}

.bubbles-container {
  overflow-y: scroll;
  height: 86vh;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column-reverse;
}

.chat-input-container {
  width: 100%;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 2;
  padding-bottom: 6px;
  margin-top: 12px;
  position: relative;
}

.send-logo {
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 6px;
  transition: all ease-in-out 0.2s;
}

.send-logo:hover {
  transform: scale(0.9);
}

.send-logo:active {
  opacity: 0.66;
}

.chat-input {
  border: none;
  line-height: 16px;
  border-radius: 20px;
  width: 86%;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #f2f2f2;
  outline: none;
  font-family: "Lato";
  color: black;
  font-size: 16px;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

@media only screen and (max-width: 920px) {
  .chat-container {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 70vh;
    left: 0;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 3;
    box-shadow: 0 -10px 50px #333;
  }
}
