.header-results {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4949e7;
}

.header-results-text {
  font-size: 20px;
  color: white;
  letter-spacing: 10px;
  font-family: "Lato";
}

.restaurant-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.restaurant-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 96%;
  padding: 2%;
}

.empty-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 84vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-img {
  width: 26vw;
  height: auto;
  margin-top: 10px;
}

.empty-text {
  font-size: 20px;
  margin-top: 6vh;
  padding: 2%;
}

.select-container {
  height: 6vh;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 920px) {
  .restaurant-container {
    width: 100vw;
  }
}
